
@import url('../style/reset/reset.css');
body {
	font-family: 'Roboto', sans-serif;
}
.flex-row{
	display: flex;
flex-direction: row;
	
}
.flex-col{
display: flex;
	flex-direction: column;

}
.JustifySpaceAround{
	justify-content: space-around;
}
.JustifySpaceBetween{
	justify-content: space-between;
}
.JustifyContentCenter{
justify-content: center;
}
.flex-start{	
	justify-content:flex-start;
}
.container {
	margin: auto;
	width: 1280px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  transition: linear .3s;
}
.menu-8 li a:hover {
  background: #222F3A;
  color: #ffffff;
	
	
}
.Element{
	position: relative;
	left: 20px;
	font-size: 18px;
	color: red;
	font-weight: 800
}
.menu2 li {
	margin: -7px auto;
  width: 100%;
	height:399;

}
.menu2 .HintHover a{
	 background: #DBDBDB;
padding: 17px 75px;
	color: #000000;
} 
.menu2 li a {
	display: flex;
	flex-wrap: nowrap;
	background-color: #fff;
	border-style: solid;
	border-color: #ffffff;
}
.menu2 li a:hover {

padding: 17px 82px;
  background: #DBDBDB;

	color: #000000;
}
.menu2 li .CurrenTHover {
		 background:  unset !important ;
}

.HintHover{
	display: inline;
	padding: 0 auto;
	color: red;
	font-size: 28px;
	position: absolute;
	left:-1px;
		bottom:1px;
}
 
.menu2 .CurrenTHover{
	display: inline;


color: red;	
	width: 105%;;
	font-size: 28px;
	position: relative;
	left:-21px;
		bottom:1px;
}
.menu {
margin-bottom:27px;
    text-align: center;
}
.menu li {

  width: 100%;
}
.menu li:last-child {
    border:7px solid #ffffff;
	border-top-style: none;
    border-left-style: none;
    border-bottom-style: none;
}
.menu li a {
	
  width: 100%;
	 display: block;
  color: #fff;
  padding:  23px 0px;
  background-color: #fff;
  background-color: #35444F;

    border-style: solid;
  border-color: #ffffff;
  border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}
.Logo a{
	color:#000000;
}
.Logo{
	padding-top: 22px;
	font-size: 80px;
}
.higlight{
	color: #4BCAFF;
}
.menu-8 .menu2   {
	
text-decoration:  none;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
	font-weight: 800;
  content: attr(data-descr);
  position: relative;
	padding: 17px 82px;
  right:62px;
  bottom: 2px;
;

align-self: flex-end;

  color: red;
  font-size: 18px;
  z-index: 1;
}
.nav2 ul li{
background: rgba(99, 105, 110, 0.48);
}

.menu2{
	border: auto;
	overflow:hidden;
}
.aside-menu a{

padding:20px 29px;
color:#495863;
text-transform: capitalize;
	overflow: hidden;
box-sizing: border-box;

}
.aside-menu > ul{

	color:#495863;
	font-size: 27px;
	box-sizing: border-box;
	display: flex;
  flex-wrap: wrap;


width: 344px;
max-height: 399px;
	border: 1px solid #000000;
}
.top-img {
	
	width: 885px;
height: 529px;
	border: 1px solid #000000;

}
.img:hover{
	transform: scale(1.8);
transition: linear .3s;
}
.img {
	  max-width: 50%;
  max-height: 50%;
 display: block;
  
}
.align-self {
 align-self: center;
}
.content {
	flex-wrap:wrap;
	width: 885px;
}
.menu-3 li a:hover {
  color: #3181A6;
text-decoration: underline;
  text-underline-offset: 13px;
}
.footer li a {
	text-transform: capitalize;
	font-size: 28px;
	display: block;
	color: #0C1927;
}
.content p{	margin-top: 39px;
	line-height: 24px;
margin-bottom:28px;
}

.navFooter{
	position: relative;

padding-left: 22px;
background: rgba(99, 105, 110, 0.48);
}
footer{
	margin-top: 2px;
}
.author {
	position: absolute;
right: 40px;
align-self: center;
	font-size: 24px
}
.navFooter a {
	padding: 29px 22px;
}